body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }

  #input-form {
      display:flex;
      flex-direction: column;
      width: 30%;
  }

  #subtmit-button{
      margin: 20px;
  }